.section-to-section{
    margin-top: 700px;
    margin-left: 300px;
      
}

.to-top{
	color:white;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
    font-size: 30px;
    margin-left:100px;
}
.to-top:before{
	content:'  ▲ ';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.0em;
	height:1.9em;
	line-height:1.1em;
    margin-bottom: 3px;
	border-color:inherit;
	transition:transform .5s ease-in;

}
.to-top:hover{
	color:rgb(253, 253, 253);
	border-color:rgb(255, 249, 250);
}
.to-top:hover:before{
	transform: rotate(360deg);
}